
<div class="content-container">
<div style="">



<div class="pages-container">

<div class="gallery col-md-12">



<figure class="gallery_item gallery_item1">
<a href="#">

<img class="img-fluid gallery_image "src="<%= asset_path 'pink_white.jpg' %>" alt="Image 1">
</a>
</figure>


<figure class="gallery_item gallery_item2">

<a href="#">

<img class="img-fluid gallery_image" src="<%= asset_path 'blue_pink vibes.jpg' %>" alt="">

</a>
</figure>


<figure class="gallery_item gallery_item3">

<a href="#">

<img class="img-fluid gallery_image" src="<%= asset_path 'white_gold.jpg' %>" alt="">

</a>
</figure>

<figure class="gallery_item gallery_item4">
<a href="#">

<img class="img-fluid gallery_image "src="<%= asset_path 'ocean_vibes.jpg' %>" alt="Image 1">
</a>
</figure>


<figure class="gallery_item gallery_item5">

<a href="#">

<img class="img-fluid gallery_image" src="<%= asset_path 'bees.jpg' %>" alt="">

</a>
</figure>


<figure class="gallery_item gallery_item6">

<a href="#">

<img class="img-fluid gallery_image" src="<%= asset_path 'treasure_gold.jpg' %>" alt="">

</a>
</figure>



<figure class="gallery_item gallery_item7">
<a href="#">

<img class="img-fluid gallery_image "src="<%= asset_path 'coral_red.jpg' %>" alt="Image 1">
</a>
</figure>


<figure class="gallery_item gallery_item8">

<a href="#">

<img class="img-fluid gallery_image" src="<%= asset_path 'red_coral.jpg' %>" alt="">

</a>
</figure>


<figure class="gallery_item gallery_item9">

<a href="#">

<img class="img-fluid gallery_image" src="<%= asset_path 'gold_redlip.jpg' %>" alt="">

</a>
</figure>
















</div>



  </div>
 </div>
</div>


<!--
<div class="style-square " style=" cursorp cursor:pointer;">

 <div class="image-zoompadding">
  <div class="image-table">
    <div class="image-iteminner">
      <div style="text-align: centre;"  class="image-title-item " aria-hidden:"true" >
<h1>welcome to my page</h1>



      </div>

    </div>

  </div>

</div>
</div>
//-->
