<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="container-shop">
<div class="shop-row">

<div class="card-deck">
  <div class="card">
    <img src="<%= asset_path 'purple_moonearrings.jpg' %>" class="card-img-top" alt="Purple Moon Earrings">
    <div class="card-body">
      <h5 class="card-title">Purple Moon Earrings</h5>
      <p class="card-text">$20</p>
    <p>Site to be finalised</p>

    </div>
  </div>
  <div class="card">
    <img src="<%= asset_path 'purple_stoneearrings.jpg' %>" class="card-img-top" alt="Purple Stone Earrings">
    <div class="card-body">
      <h5 class="card-title">Purple Stone Earrings</h5>
      <p class="card-text">$25</p>
      <p>Site to be finalised</p>

    </div>
  </div>
  <div class="card">
    <img src="<%= asset_path 'purple_earrings.jpg' %>" class="card-img-top" alt="Purple Earrings">
    <div class="card-body">
      <h5 class="card-title">Purple Amethyst Earrings</h5>
      <p class="card-text">$20</p>
      <p>Site to be finalised</p>

    </div>
  </div>
</div>

</div>
<div class="shop-row">

<div class="card-deck">
  <div class="card">
    <img src="<%= asset_path 'red_heartearrings.jpg' %>" class="card-img-top" alt="Red Heart Earrings">
    <div class="card-body">
      <h5 class="card-title">Red Heart Gold Earrings</h5>
      <p class="card-text">$20</p>
      <p>Site to be finalised</p>

    </div>
  </div>
  <div class="card">
    <img src="<%= asset_path 'red_pinkscarf.jpg' %>" class="card-img-top" alt="Red Pink Scarf">
    <div class="card-body">
      <h5 class="card-title">Red Stripe Cat Scarf</h5>
      <p class="card-text">$40</p>
      <p>Site to be finalised</p>

    </div>
  </div>
  <div class="card">
    <img src="<%= asset_path 'red_stripeshell.jpg' %>" class="card-img-top" alt="Red Stripe Shell">
    <div class="card-body">
      <h5 class="card-title">Red Striped Sea Shell Earrings</h5>
      <p class="card-text">$15</p>
      <p>Site to be finalised</p>

    </div>
  </div>
</div>

</div>

<div class="shop-row">

<div class="card-deck">
  <div class="card">
    <img src="<%= asset_path 'white_gold.jpg' %>" class="card-img-top" alt="White Gold Earrings">
    <div class="card-body">
      <h5 class="card-title">White Gold Earrings</h5>
      <p class="card-text">$18</p>
      <p>Site to be finalised</p>

    </div>
  </div>
  <div class="card">
    <img src="<%= asset_path 'gold_yellowearrings.jpg' %>" class="card-img-top" alt="Gold Yellow Earrings">
    <div class="card-body">
      <h5 class="card-title">Yellow Stone Gold Earrings</h5>
      <p class="card-text">$18</p>
      <p>Site to be finalised</p>

    </div>
  </div>
  <div class="card">
    <img src="<%= asset_path 'white_ivory.jpg' %>" class="card-img-top" alt="White Ivory Earrings">
    <div class="card-body">
      <h5 class="card-title">Natural Ivory Shell Earrings</h5>
      <p class="card-text">$12</p>
      <p>Shite to be finalised</p>

    </div>
  </div>
</div>

</div>


</div>
